<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>magic_holidays</title>
<link rel="stylesheet" href="css/estilos.css">
</head>

<body>
	<div id="contenedor">
			<div id="logo">
				<img src="img/logo.png" alt="logo">
			</div>	
			<div id="presentacion">
				<h1>Romina Zain</h1>
				  <h2>¡HOLA VIAJEROS!</h2>
			  <h3>Este es el momento de presentarnos y contarles que somos una agencia especialista en crear <b>Vacaciones mágicas</b>.<br>
					  <br>
						Magic Holidays ubicada en la ciudad de Orlando es una agencia autorizada por Disney y Universal. 
						Te garantizamos una atención personalizada y un acompañamiento completo desde el inicio hasta el final de tu viaje SIN NINGÚN COSTO EXTRA. <br><br>
						Haremos todo lo posible para que aproveches al máximo tu experiencia, tiempo e inversión, buscando opciones que se ajusten a tu grupo y presupuesto.
						Te compartimos tips, recomendaciones, apoyo con reservación de restaurantes y Fast Pass, explicación de cómo utilizar las APPS para los parques y todo lo que necesites.<br>
						<br>
						<br>
						<b>A continuación, te datallamos la cotización solicitada:</b>
					</h3>
			</div>
			<section id="walt">
				<div class="bordes-plan">
					<div >
						<h1 class="titular">Walt Disney World</h1>
					</div>
					<div class="lugar">
						<img src="img/disney.jpg" alt="disney" class="foto">
						<h4 class="datos">CHECK IN : <span> ……………………….</span><br>
											CHECK OUT: <span> ……………………..</span><br>
											GRUPO VIAJERO: <span>……………</span><br>
											HOTEL: <span>………………………..</span><br>
											HABITACIÓN: <span>……………….</span><br>
											TICKETS: <span>……………….</span><br>
						</h4>
					</div>
					<div id="plan-disney">
						<article class="articulo">
						  <h3><strong>PLAN DE COMIDAS: (NOMBRE)</strong><br>
								<b>Precio Total con Plan de Comidas: ………….</b><br>
								<b>Precio Total sin Plan de Comidas: ………….</b><br><br>

								<strong>SERVICIO OPCIONALES DISNEY:</strong><br>
								<b>Memory Maker (paquete de fotos): ..............USD</b><br>

							</h3>
						</article>

						<article class="articulo1">
						  <h3><strong>INFORMACIÓN PLAN DE COMIDAS:</strong><br>
								Todas las comidas se pueden utilizar tanto en los hoteles Disney, como en todos los parques y en Disney Springs (centro comercial de Disney).<br><br>
								El servicio de comidas <b>(Nombre del Plan)</b> incluye:<br>
								<b>* 2 servicio de comidas rápidas (por noche por persona)<br>
								* 2 snacks (por noche por persona)<br>
								* 1 vaso recargable para usar en el Hotel</b><br>
							</h3>
						</article>	
					</div>
				</div>
				<div>
				  <h3 class="beneficios"><b>Además, alojándose en Disney tienen los siguientes beneficios:</b><br><br>
						<img src="img/estrella.png" alt="estrella" width="19px" class="estrella">Transporte de cortesía del aeropuerto de Orlando al hotel, ida y vuelta en el caso de llegar allí.<br>
						<img src="img/estrella.png" alt="estrella" width="19px" class="estrella">Transporte gratuito dentro de Disney World con micros exclusivos a todos los parques
							desde y hacia el hotel, a Disney Springs, y estacionamiento gratuito en parques.<br>
						<img src="img/estrella.png" alt="estrella" width="19px" class="estrella">Horas mágicas extra (pueden disfrutar de los parques durante más horas que el resto de los visitantes).<br>
						<img src="img/estrella.png" alt="estrella" width="19px" class="estrella">Selección de Fast Pass (pases rápidos para las atracciones más populares) 60 días antes del viaje.<br><br>
						<strong>PLANIFICACIÓN TOTAL:</strong><br>
						La planificación incluye la preparación de una guía de viaje, la vinculación del paquete a la cuenta My Disney Experience, la realización del Check in Online, la confección de un plan día por día para que visiten los parques en las fechas adecuadas, la selección y reserva de Fast Pass, sugerencias de los mejores restaurantes para comer y las estrategias de recorrido para cada parque, bajando esperas y evitando multitudes.<br>
						<br>

						<strong>CONDICIONES DE PAGO:</strong><br>
						Para reservar los paquetes Disney se necesita un pago mínimo de USD 200 por habitación. El saldo tiene que estar cancelado 30 días antes del check in. Hasta ese momento se pueden hacer pagos parciales de los montos que ustedes definan y modificar la fecha de la reserva si fuera necesario. Incluso en el caso de que deseen cancelar, se puede hacer también sin cargo alguno y se devuelve todo el dinero hasta 30 días antes del viaje.
						Se puede hacer una reserva por 72 horas sin seña para los servicios elegidos.
						La reserva se hace directamente con Disney con la tarjeta de crédito de nuestros clientes.
						Cuando hagan la reserva a través mío, obtendrán el mismo precio que ven en Disney.com.  
					</h3>
				</div>
			</section>	
			<section id="universal">
				<div class="bordes-plan">
					<div >
						<h1 class="titular">Universal</h1>
					</div>
					<div class="lugar">
						<img src="img/universal.jpg" alt="disney" width="506" class="foto">
					  <h4 class="datos">CHECK IN : <span>……………………….</span><br>
										  CHECK OUT: <span>……………………..</span><br>
										  GRUPO VIAJERO: <span>……………</span><br>
										  HOTEL: <span>………………………..</span><br>
										  HABITACIÓN: <span>……………….</span><br>
										  TICKETS: <span>……………….</span><br>
										  PRECIO TOTAL: <span>……………….</span>
					  </h4>
					</div>
					<div id="plan-universal">
						<article class="articulo-u">
						  <h3><strong>SERVICIOS EXTRAS UNIVERSAL:</strong><br>
								<b>Plan de comidas Quick Service CON VASO REFILL:</b> ………….USD<br>
								(Precio por persona, por día)<br><br>
								<b>Plan de comidas Universal Dining Plan:</b> ………….USD<br>
								(Precio por persona, por día)<br><br>
								<b>Paquete de fotografías:</b> ………….USD<br>
								(Precio por persona, por día)<br><br>

							</h3>
						</article>	
					</div>
				</div>
				<div>
				  <h3 class="beneficios">
						<strong>FORMA DE PAGO HOTELES UNIVERSAL:</strong><br>
								El pago se realiza con tarjeta de crédito y para reservar los paquetes Universal es necesario un depósito de 50 USD por persona y el resto del total tendrá que ser liquidado 45 días antes de la fecha de llegada (Del Check-in).<br>
								Hasta ese momento se pueden hacer pagos parciales de los montos que ustedes definan y modificar la fecha de la reserva si fuera necesario. Incluso en el caso de que
								deseen cancelar, se puede hacer también sin cargo alguno y se devuelve todo el dinero hasta 45 días antes del viaje.
					</h3>
				</div>
			</section>	
			<section id="miami">
				<div class="bordes-plan">
					<div >
						<h1 class="titular">Miami</h1>
					</div>
					<div class="lugar">
						<img src="img/miami.jpg" alt="disney" width="506" class="foto">
					  <h4 class="datos">CHECK IN : <span>……………………….</span><br>
										  CHECK OUT: <span>……………………..</span><br>
										  GRUPO VIAJERO: <span>……………</span><br>
										  HOTEL: <span>………………………..</span><br>
										  HABITACIÓN: <span>……………….</span><br>
										  PRECIO TOTAL: <span>……………….</span>
					  </h4>
					</div>
					<div id="plan-miami">
						<article class="articulo-u">
						  <h3><strong>ACTIVIDADES EXTRAS:</strong><br>
								<b>XXXXXX:</b> ………….USD<br><br>
								<b>XXXXXX:</b> ………….USD<br><br>
								<b>XXXXXX:</b> ………….USD<br><br>
								<strong>FORMA DE PAGO:</strong><br>
								El pago se realiza con tarjeta de crédito………….						
							</h3>
						</article>	
					</div>
				</div>
			</section>	
			<section id="crucero">
				<div class="bordes-plan">
					<div >
						<h1 class="titular">Crucero</h1>
					</div>
					<div class="lugar">
						<img src="img/crucero.jpg" alt="disney" width="506" class="foto">
					  <h4 class="datos">NOMBRE DEL BARCO:<span>…….</span><br>
										  DESTINO:<span>……..</span><br>
										  FECHA:<span>………</span><br>
										  NÚMERO DE NOCHES:<span>…..</span><br>
										  VIAJEROS:<span>……….</span><br>
										  RAZÓN DEL VIAJE:<span>…….</span>
					  </h4>
					</div>
					<div id="tabla">
						<table>
							<tr>
								<th><h2><strong>DÍA</strong></h2></th>
								<th><h2><strong>PUERTO</strong></h2></th>
								<th><h2><strong>SALIDA</strong></h2></th>
								<th><h2><strong>LLEGADA</strong></h2></th>
							</tr>
							<tr>
								<td>1</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
							<tr>
								<td>2</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
							<tr>
								<td>3</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
							<tr>
								<td>4</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
							<tr>
								<td>5</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
							<tr>
								<td>6</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
							<tr>
								<td>7</td>
								<td>.........</td>
								<td>00:00</td>
								<td>00:00</td>
							</tr>
						</table>
					</div>

					<div id="cabina">
						<article class="precios">
							<div>
							  <h3><strong>TIPO DE CABINA PRECIO</strong><br><br>
								<b>XXXXXXXXXX</b>:.......USD<br>
								<b>XXXXXXXXXX</b>:.......USD<br>
								<b>XXXXXXXXXX</b>:.......USD<br>
								<b>XXXXXXXXXX</b>:.......USD<br>
								</h3>
							</div>
						</article>
						<article class="inc">
						  <h3><strong>¿QUÉ INCLUYE?</strong></h3>
								<p><img src="img/estrella.png" alt="estrella" class="estrella" width="19px">Alojamiento</p>
								<p><img src="img/estrella.png" alt="estrella" class="estrella" width="19px">Comida</p>
								<p><img src="img/estrella.png" alt="estrella" class="estrella" width="19px">Bebidas no alcoholicas complementarias</p>
								<p><img src="img/estrella.png" alt="estrella" class="estrella" width="19px">Entretenimiento</p>
								<p><img src="img/estrella.png" alt="estrella" class="estrella" width="19px">Experiencia con Personajes</p>
								<p><img src="img/estrella.png" alt="estrella" class="estrella" width="19px">Actividades seleccionadas a bordo</p>
						</article>
					</div>

					<div id="plan-crucero">
						<article class="articulo-u">
							<h3>
								<strong>FORMA DE PAGO:</strong><br>
								El pago se realiza con tarjeta de débito o crédito directamente a Disney Cruise Line a través de nosotros; y para realizar la reservación es necesario un depósito del 20% del total para el …………….y liquidar el restante máximo el ……………………...<br>
								La cantidad exacta de depósito y del restante por pagar depende del tipo de habitación que elijan.

							</h3>
						</article>	
					</div>
				</div>
			</section>	
			<footer>
				<div id="footer">
				  <div class="pie">	
						<article class="final">
							<h2>Quedamos a tu disposición para lo que necesites,</h2>
							<h1>Romina Zain</h1>
						</article>
						<article class="imagen">
							<img src="img/Zain.jpg" alt="zain" class="agente">
						</article>
					</div>
				  <h2 class="info"><b>Para más información visitanos en <a href="http://mhtravelagency.com/website/index.php?lang=es">www.mhtravelagency.com</a></b></h2>
				</div>
				<div id="zocalo"></div>
			</footer>	
	</div>
</body>
</html>
